@()

@import recon.models.Permission
@import recon.models.Req

var process = {};

process.levelToAgencyName = m.prop([
  "ASSESSING_AGENCY",
  "ASSESSING_AGENCY",
  "Office of Civil Defense",
  "Office of the President",
  "Department of Budget and Management",
  "IMPLEMENTING_AGENCY"
]);

process.levelDict = [
  @Html(Req.levels.map(l => "\"" + l + "\"").reduce( (x,y) => x + ", \n" + y ))
];

process.levelDict.toSelectValues = function(){
	return this.map(function (l, i){
    return {id: i, name: l};
  });
}

process.permissions = @Html(Permission.json.toString);
