@import foundation/foundation
@import colors/colors
@import bourbon/bourbon
@import neat/neat

@import variables

body
  &.detail
    background-color: #eee
  .row
    max-width: 80rem
  dd a
    line-height: normal
  button, .button
    padding-bottom: 1rem
  ul
    margin-left: 0

.portrait
  border-radius: 50%
  &.sml
    height: 32px
    width: 32px
  &.med
    height: 64px
    width: 64px
  &.lrg
    height: 128px
    width: 128px

.banner
  background-color: $accent
  padding-top: 40px
  padding-bottom: 20px
  h1
    color: $white
  p
    color: $white

.loader-padding
  display: inline-block
  width: 30px

#nprogress
  .bar
    background: $accent

  .peg
    box-shadow: 0 0 10px $accent, 0 0 5px $accent

  .spinner-icon
    border-top-color: $accent
    border-left-color: $accent

ul
  list-style: none
  li.selected
    font-weight: bold

table
  width: 100%
  // border-spacing: 0px
  // border: 0
  // margin-top: 20px

h1
  font-weight: bold

form
  section
    padding-top: 20px
    padding-bottom: 20px

section
  padding: 20px 0px
  &.alt
    background-color: #f4f4f4
  &.top-bar-section
    padding: 0

#map, #detailMap
  height: 256px
  width: 100%

.label
  margin-right: 10px

.name
  margin-right: 10px

.prog
  +clearfix
  width: 100%
  background-color: #ddd
  color: rgba(black, 0.1)
  border-radius: 3px
  overflow: hidden
  margin-bottom: 20px
  line-height: 30px
  text-transform: uppercase
  font-size: 12px
  .step
    +box-sizing(border-box)
    // width: 25%
    float: left
    padding: 0px 10px
    font-weight: bold
    text-align: center
  .completed
    background-color: $teal
    color: darken($teal, 10%)
    .label
      +label($bg: darken($teal, 5%))
    .number
      border: 3px solid $white
  .pending
    background-color: $teal
    color: $white
    +border-right-radius(3px)
    .label
      +label($bg: darken($teal, 10%))
    .number
      border: 3px solid $white
  .number
    display: inline-block
    border-radius: 50%
    width: 36px
    text-align: center
    border: 3px solid $gray

section.history
  // padding-top: 20px

.value
  font-weight: bold

.event
  +clearfix
  padding: 10px 0px
  position: relative
  // &:first-child
    // padding-top: 40px
  p
    margin-bottom: 4px
  &:last-child
    .details
      border-bottom: none
  .type
    +box-sizing(border-box)
    height: 54px
    width: 54px
    border-radius: 50%
    // border-width: 4px
    // border-style: solid
    text-align: center
    float: left
    color: white
    i
      margin-top: 19px
    &.disaster
      background-color: $red
    &.request
      background-color: $orange
    &.edit
      background-color: $silver
    &.comment
      background-color: $teal
  .dateGroup
    .divider
      position: absolute
      z-index: 0
      top: 0
      bottom: 0
      left: 0
      width: 36px + 2px
      border-right: 4px solid white

  .details
    margin-left: 72px
    padding-bottom: 20px
    border-bottom: 1px solid #eee
  // .comment


.timestamp
  color: $gray

h1 small
  color: $accent


.swatch
  position: relative
  display: inline-block
  height: 18px
  width: 18px
  border-radius: 50%
  margin-right: 10px
  bottom: -5px
  &.orange
    background-color: $accent
  &.black
    background-color: rgba(black, 0.3)

.approval
  // background-color: white
  text-align: center
  margin-bottom: 20px
  background-color: #ddd
  button
    margin-right: 1px
  h4
    color: #333
    font-weight: 300
    margin-top: 20px
    margin-bottom: 12px
  h5
    color: $gray
  &.rejected
    background-color: $red
    h4, h5
      color: darken($red, 20%)


.help
  color: $gray

.field
  position: relative

.help-container
  position: absolute
  right: 0

.card
  background-color: white
  box-shadow: 0px 2px 2px rgba(black, 0.05)
  margin-bottom: 20px
  .section
    padding: 20px 30px
    &.type
      background-color: $accent
      color: white
    &.big
      padding: 50px 40px
      h1
        margin-bottom: 0
      .header
        margin-bottom: 30px
      .help
        color: $gray
  h4
    font-weight: 300
  // h1
  //   margin: 30px 0px
  hr
    border-top: 0px
    border-bottom: 1px solid #eee
    margin: 0

hr.dashed
  border-top: 0px
  border-bottom: 1px dashed #ddd

.request-stub
  @extend .card

.meta
  color: $gray
  font-size: 12px
  line-height: 18px

.dropzone
  +clearfix
  padding: 40px
  background-color: #eee
  margin-bottom: 20px
  cursor: pointer
  &:hover
    // background-color: #ddd
    .dz-message
      color: #aaa
  .dz-message
    font-size: 36px
    text-align: center
    color: #ccc
    font-weight: 300
  &.dz-started
    .dz-message
      margin-bottom: 40px
  .dz-preview
    &.dz-processing
      display: block
      &.dz-success
        display: none
    float: left
    // background-color: white
    margin-right: 20px
    cursor: default
    width: 128px
    height: 256px
    img
      margin-bottom: 6px
    .dz-size
      color: $gray
    .dz-filename
      margin-bottom: 10px
    .dz-upload
      background-color: #333
      height: 24px
      display: block
    &.dz-success
      .dz-upload
        display: none

.acronym
  margin-left: 10px

label
  input[type="checkbox"]
    margin-right: 5px

.map-container
  position: relative
  .map-shroud
    +position(absolute, 0px 0px 0px 0px)
    z-index: 1010
    background-color: rgba(white, 0.6)
    padding: 20px
    h3
      text-align: center
      opacity: 0.3

.attachments-images
  li
    img
      margin-bottom: 6px
    .filename
      font-weight: 300
    .uploader
      font-size: 12px
    .date
      font-size: 12px
      color: $gray

.empty
  margin-top: 20px
  text-align: center
  color: $gray

button.micro, .button.micro
  @extend .tiny
  padding: 5px 8px

.display-edit-group
  margin-bottom: 10px
  h4, h2
    margin-bottom: 0px
  &.edit-mode
    .edit-button
      display: block
      margin: 0
  &.can-edit
    border-bottom: 1px solid $gray

    // padding: 8px
    // margin-left: -8px
    // margin-right: -8px
    // color: $accent
    // h1, h2, h3, h4, h5, h6
      // color: $accent
    &:hover
      background-color: rgba(black, 0.05)
      .edit-button
        display: block
  .edit-button
    display: none
    float: right
  .save-cancel-group
    +clearfix
    .cancel-button
      float: right
    .save-button
      float: left

.lgu
  .add
    display: none
    margin-bottom: 0px
    margin-left: 14px
  .info
    line-height: 40px
    &:hover
      .add
        display: inline-block

  .children
    margin-left: 20px

.expander
  display: inline-block
  text-align: center
  margin-right: 10px
  cursor: default
  width: 24px
  &.expanded
    cursor: pointer
  .control
    display: inline-block
    text-align: center
    width: 24px
    height: 24px
    border-radius: 2px
    &:hover
      background-color: #eee
    i
      +transition(all 0.2s)
  input[type="checkbox"]
    display: none
    &:checked + .control
      i
        +transform(rotateZ(90deg))
        +transform-origin(center)


.tabs-content
  &.vertical
    padding: 0px 20px

.tabs
  dd > a
    +transition(all 0.2s)
    background-color: transparent
    border: 0px
    border-bottom-width: 1px
    border-style: solid
    border-color: #ddd
    color: #ccc
    .label
      +transition(all 0.2s)
      margin-left: 6px
      margin-right: 0
      background-color: transparent
      border: 1px solid #ccc
      color: #ccc
    &:hover
      background-color: transparent
      border-color: #333
      color: #333
      .label
        border-color: #333
        color: #333
  dd.active > a
    border-color: $accent
    color: $accent
    background-color: transparent
    .label
      border-color: $accent
      color: $accent
  &.vertical
    dd > a
      border-bottom-width: 0px
      border-right-width: 1px
      text-align: right

.modal
  +transition(all 0.4s)
  padding: 0
  width: 100%
  position: absolute
  z-index: 1020
  opacity: 0
  .curtain
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(black, 0.5)
  .dialog
    +transition(all 0.4s)
    position: relative
    top: -999px
    padding-top: 40px
nav
  .top-bar-section
    ul li
      .label
        margin-right: 0
        margin-left: 10px
      & > a.active, & > a.active:hover
        color: $accent

.field-icon p
  text-align: right

.age
  white-space: nowrap
  &.alert
    color: $red

.m-grow
  +transition(all 0.4s)
  max-height: 0px
  overflow: hidden
  &.expand
    max-height: 2000px

.progress
  // +clearfix
  width: 100%
  background-color: rgba(black, 0.05)
  border-radius: 3px
  overflow: hidden
  &.mini
    height: 4px
    border-radius: 0px
    .step
      padding: 0px
      height: 100%
  .step
    float: left
    padding: 10px
    font-size: 12px
    color: rgba(black, 0.2)
    &.done
      background-color: $accent
      color: rgba(white, 0.4)
    &.pending
      background-color: darken($accent, 10%)
      color: rgba(white, 0.4)

.filters
  .filter
    a
      margin: 0px -10px
      padding: 4px 10px
      border-radius: 1000px
      font-size: 12px

    &.active
      a
        background-color: $accent
        color: white

#welcome
  .banner
    padding: 0
    h1
      padding-top: 40px
      margin-bottom: 0
    p
      padding-bottom: 15px
    .row
      position: relative
    .info
      @media #{$medium-up}
        position: absolute
        right: 0
        min-height: 100%
      background: darken($accent, 12%)
  .notice
    text-align: center
    i
      margin-right: 10px
      color: $orange
  // TODO: clean this up. blame kai.
  .proposals
    text-align: center
    padding-top: 0
    h2.title
      font-size: 18px
    .val-group
      border: 0
      td
        padding: 0
        &:nth-child(1)
          padding-right: 8px
          border-right: 1px solid $accent
        &:nth-child(2)
          padding-left: 3px
      h2
        text-align: left
        font-weight: 300
        font-size: 28px
        margin: 0
      h6
        margin-top: -4px
    .caption
      text-align: right
      text-transform: uppercase
      font-weight: bold
      color: $accent
      // float: left
    img
      height: 80px
    i
      color: $accent
    h2
      span
        font-size: 50%
    h3
      margin-bottom: 0
  .row.info
    text-align: center
    h2, h4
      color: $accent
    a
      // padding: 0.75rem 1.5rem
      margin-right: 2px
      // background: $white
      // color: $accent
  figure
    display: inline-block
    text-align: center
    width: 100%
    margin: 0
    padding: 0 0 10px 0
    // border: 1px solid $accent
    img
      height: 100%
    &.small
      height: 150px
    &.large
      height: 320px



.notice
  color: #777
  font-weight: 300

.dashboard
  .val-group
    margin-bottom: 20px
  i
    display: block
    // font-size: 40px
    // float: left
  .legend
    padding-top: 25px
    text-align: center
    margin-bottom: 20px
    font-size: 12px
    span
      display: inline-block
      margin-right: 10px
      &:last-child
        margin-right: 0px

footer
  padding: 20px 0px
  // colors taken from gov.ph sites. sorry.
  background: #e9e9e9
  border-top: 1px solid #e1e1e1
  color: #666

#d3-chart
  div
    background-color: black
  rect
    fill: $gray
  path
    fill: transparent
    stroke: $accent
    stroke-width: 4px
  circle
    fill: #F4F4F4
    stroke: $accent
    stroke-width: 4px
  .x-axis, .y-axis, .domain
    stroke-width: 1px
    stroke: $black
  text
    fill: $black
    stroke: transparent
    font-size: 12px

.c3
  text
    font-family: "Roboto Condensed"
  .c3-shape.c3-area
    opacity: 0.8
  // path
  //   stroke-width: 4px
  // circle
  //   stroke-width: 4px

.vis-panel
  @extend .card
  margin-bottom: 0
  h5
    text-align: center
    font-weight: 100
