@import foundation/foundation
@import colors/colors
@import bourbon/bourbon
@import neat/neat
@import variables
$desktopWidth: 1024px

html, body
  padding: 0
  margin: 0
  height: 100%

body
  &.detail
    background-color: #eee
  .row
    max-width: 80rem
  dd a
    line-height: normal
  button, .button
    padding-bottom: 1rem
  ul
    margin-left: 0

// h1, h2, h3, h4, h5, h6
//   text-transform: capitalize

.container
  min-height: 70%
  min-height: calc(100% - 235px)
  // estimated height of nav + footer
  position: relative

.portrait
  border-radius: 50%
  &.sml
    height: 32px
    width: 32px
  &.med
    height: 64px
    width: 64px
  &.lrg
    height: 128px
    width: 128px

.banner
  background-color: $accent
  padding-top: 40px
  padding-bottom: 20px
  h1
    color: $white
  p
    color: $white

.loader-padding
  display: inline-block
  width: 30px

#nprogress
  .bar
    background: $orange

  .peg
    box-shadow: 0 0 10px $orange, 0 0 5px $orange

  .spinner-icon
    border-top-color: $orange
    border-left-color: $orange

ul
  list-style: none
  li.selected
    font-weight: bold

table
  width: 100%
  // border-spacing: 0px
  // border: 0
  // margin-top: 20px

h1
  font-weight: bold

form
  section
    padding-top: 20px
    padding-bottom: 20px

section
  padding: 20px 0px
  &.alt
    background-color: #f4f4f4
  &.top-bar-section
    padding: 0
  &.map-container
    padding: 0

#map, #detailMap, .map
  height: 256px
  width: 100%
  &.large
    height: 512px
  .map-data-point
    .marker
      +display(flex)
      +justify-content(center)
      +align-items(center)
      +transform( scale(1) )
      +transition( all 0.1s )
      border-radius: 50%
      background-color: rgba($red, 0.8)
      color: white
      height: 100%
      width: 100%
    &.group
      .marker:hover
        +transition( all 0.2s cubic-bezier(0, 0.72, 0.64906, 1.35) )
        +transform( scale(1.5) )
    &.terminal
      .marker
        background-color: rgba(white, 0.8)
        // border-radius: 3px
        border: 4px solid $red 
        color: $red

.label
  margin-right: 10px

.name
  margin-right: 10px

nav.top-bar .govph
  line-height: $topbar-height
  font-size: $topbar-title-font-size
  margin: 0
  a
    font-weight: $topbar-title-weight
    color: $topbar-link-color
    width: 75%
    display: block
    padding: 0 $topbar-link-padding
    font-family: "Roboto"

.prog
  +clearfix
  width: 100%
  background-color: #ddd
  color: rgba(black, 0.1)
  border-radius: 3px
  overflow: hidden
  margin-bottom: 20px
  line-height: 30px
  text-transform: uppercase
  font-size: 12px
  .step
    +box-sizing(border-box)
    // width: 25%
    float: left
    padding: 0px 10px
    font-weight: bold
    text-align: center
  .completed
    background-color: $teal
    color: darken($teal, 10%)
    .label
      +label($bg: darken($teal, 5%))
    .number
      border: 3px solid $white
  .pending
    background-color: $teal
    color: $white
    +border-right-radius(3px)
    .label
      +label($bg: darken($teal, 10%))
    .number
      border: 3px solid $white
  .number
    display: inline-block
    border-radius: 50%
    width: 36px
    text-align: center
    border: 3px solid $gray

section.history
  // padding-top: 20px

.value
  font-weight: bold

a.event
  display: block
  padding-left: 20px
  padding-right: 20px
  &:hover
    background-color: #f8f8f8
  p
    color: #333
  &.new
    border-left: 4px solid $orange
    padding-left: 16px

.event
  +clearfix
  position: relative
  &.new-comment
    padding-top: 20px
    padding-bottom: 0
    textarea
      max-width: 100%
    button
      margin-bottom: 0
  p
    margin-bottom: 4px
  &:last-child
    .details
      border-bottom: none
  .type
    +box-sizing(border-box)
    margin-top: 20px
    height: 54px
    width: 54px
    border-radius: 50%
    text-align: center
    float: left
    color: white
    i
      margin-top: 19px
    &.disaster
      background-color: $red
    &.request
      background-color: $orange
    &.edit
      background-color: $silver
    &.comment
      background-color: $teal

  .details
    margin-left: 72px
    padding: 20px 0px
    border-bottom: 1px solid #eee
  // .comment


.timestamp
  color: $gray

h1 small
  color: $accent


.swatch
  position: relative
  display: inline-block
  height: 18px
  width: 18px
  border-radius: 50%
  margin-right: 10px
  bottom: -5px
  &.orange
    background-color: $accent
  &.black
    background-color: rgba(black, 0.3)

.approval
  // background-color: white
  text-align: center
  margin-bottom: 20px
  background-color: #ddd
  button
    margin-right: 1px
  h4
    color: #333
    font-weight: 300
    margin-top: 20px
    margin-bottom: 12px
  h5
    color: $gray
  &.rejected
    background-color: $red
    h4, h5
      color: darken($red, 20%)


.help
  color: $gray

.field
  position: relative

.help-container
  position: absolute
  right: 0

.card
  background-color: white
  box-shadow: 0px 2px 2px rgba(black, 0.05)
  margin-bottom: 20px
  h4
    font-weight: 300
  // h1
  //   margin: 30px 0px
  hr
    border-top: 0px
    border-bottom: 1px solid #eee
    margin: 0
.section
  padding: 20px 30px
  &.type
    background-color: $accent
    color: white
  &.big
    padding: 50px 40px
    h1
      margin-bottom: 0
    .header
      margin-bottom: 30px
    .help
      color: $gray

hr.dashed
  border-top: 0px
  border-bottom: 1px dashed #ddd

.request-stub
  @extend .card

.meta
  color: $gray
  font-size: 12px
  line-height: 18px

.dropzone
  +clearfix
  padding: 30px 20px
  background-color: #eee
  margin-bottom: 20px
  cursor: pointer
  &:hover
    // background-color: #ddd
    .dz-message
      color: #aaa
  .dz-message
    font-size: 24px
    text-align: center
    color: #ccc
    font-weight: 300
  &.dz-started
    .dz-message
      display: none
  .dz-preview
    &.dz-processing
      display: block
      &.dz-success
        display: none
    // float: left
    // margin-right: 20px
    cursor: default
    // width: 128px
    // height: 256px
    img
      margin-bottom: 6px
    .dz-size
      color: $gray
    .dz-filename
      margin-bottom: 10px
    .dz-upload
      background-color: #333
      height: 24px
      display: block
    &.dz-success
      .dz-upload
        display: none

.acronym
  margin-left: 10px

label
  input[type="checkbox"]
    margin-right: 5px

.map-container
  position: relative
  .map-shroud
    +position(absolute, 0px 0px 0px 0px)
    z-index: 1010
    background-color: rgba(white, 0.6)
    padding: 20px
    h3
      text-align: center
      opacity: 0.3

.attachments-images
  li
    img
      margin-bottom: 6px
    .filename
      font-weight: 300
    .uploader
      font-size: 12px
    .date
      font-size: 12px
      color: $gray

.empty
  margin-top: 20px
  text-align: center
  color: $gray

button.micro, .button.micro
  // @extend .tiny
  +button-size($padding:$button-tny)
  padding: 5px 8px

.display-edit-group
  margin-bottom: 10px
  h4, h2
    margin-bottom: 0px
  &.edit-mode
    .edit-button
      display: block
      margin: 0
  &.can-edit
    border-bottom: 1px solid $gray

    // padding: 8px
    // margin-left: -8px
    // margin-right: -8px
    // color: $accent
    // h1, h2, h3, h4, h5, h6
      // color: $accent
    &:hover
      background-color: rgba(black, 0.05)
      .edit-button
        display: block
  .edit-button
    display: none
    float: right
  .save-cancel-group
    +clearfix
    .cancel-button
      float: right
    .save-button
      float: left

.lgu
  .add
    display: none
    margin-bottom: 0px
    margin-left: 14px
  .info
    line-height: 40px
    &:hover
      .add
        display: inline-block

  .children
    margin-left: 20px

.expander
  display: inline-block
  text-align: center
  margin-right: 10px
  cursor: default
  width: 24px
  &.expanded
    cursor: pointer
  .control
    display: inline-block
    text-align: center
    width: 24px
    height: 24px
    border-radius: 2px
    &:hover
      background-color: #eee
    i
      +transition(all 0.2s)
  input[type="checkbox"]
    display: none
    &:checked + .control
      i
        +transform(rotateZ(90deg))
        +transform-origin(center)


.tabs-content
  &.vertical
    padding: 0px 20px

.tabs
  dd > a
    +transition(all 0.2s)
    background-color: transparent
    border: 0px
    border-bottom-width: 1px
    border-style: solid
    border-color: #ddd
    color: #ccc
    .label
      +transition(all 0.2s)
      margin-left: 6px
      margin-right: 0
      background-color: transparent
      border: 1px solid #ccc
      color: #ccc
    &:hover
      background-color: transparent
      border-color: #333
      color: #333
      .label
        border-color: #333
        color: #333
  dd.active > a
    border-color: $accent
    color: $accent
    background-color: transparent
    .label
      border-color: $accent
      color: $accent
  &.vertical
    dd > a
      border-bottom-width: 0px
      border-right-width: 1px
      text-align: right

.modal
  +transition(all 0.4s)
  padding: 0
  width: 100%
  position: absolute
  z-index: 1020
  opacity: 0
  .curtain
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(black, 0.5)
  .dialog
    +transition(all 0.4s)
    position: relative
    top: -999px
    padding-top: 40px
nav
  .top-bar-section
    ul li
      .label
        margin-right: 0
        margin-left: 10px
      & > a.active
        background: $accent !important
        &:hover
          background: darken($accent, 5%) !important


.field-icon p
  text-align: right

.age
  white-space: nowrap
  &.alert
    color: $red

.m-grow
  +transition(all 0.4s)
  max-height: 0px
  overflow: hidden
  &.expand
    max-height: 2000px

.progress
  +clearfix
  width: 100%
  background-color: rgba(black, 0.05)
  border-radius: 3px
  border-spacing: 0px
  &.mini
    .step
      padding: 0px
      height: 4px
  .step
    float: left
    text-align: left
    padding: 10px
    font-size: 12px
    color: rgba(black, 0.2)
    &.done
      background-color: $accent
      color: rgba(white, 0.4)
    &.pending
      background-color: $accent
      color: white
    &:first-child
      +border-left-radius(3px)
    &:last-child
      +border-right-radius(3px)

.filters
  &.inline
    .filter
      display: inline-block
      a
        margin: 0px
  .filter
    a
      // margin: 0px -10px
      padding: 4px 10px
      border-radius: 1000px
      font-size: 12px
      &:hover
        background-color: rgba(black, 0.1)

    &.active
      a, a:hover
        background-color: $accent
        color: white

.pagination.text-center
  li
    display: inline-block
    float: none
p.big
  font-weight: 300
  font-size: 24px

#infodump
  h2
    margin-bottom: 20px

#home
  .feature
    padding: 0px 80px
    h4
      text-align: center
  section
    padding: 60px 0px
    position: relative
    &#eyecandy
      height: 768px
      .info-container
        position: relative
        padding: 30px 0px
        background-color: rgba(black, 0.5)
        color: white
        h2
          color: white
      .map
        position: absolute
        height: 769px
      .leaflet-control-zoom
        margin-top: 266px
    &.map-container
      padding: 0
  .for-everyone
    figure.small
      position: relative
      // top: -20px
    .details p
      font-size: 0.85rem
  .banner
    +background(url("/assets/images/bg-blur.jpg") )
    background-attachment: scroll, fixed
    background-size: cover
    background-position: center bottom
    padding: 0px
    .banner-content
      padding: 60px 0px
    h1
      margin-bottom: 0
      text-shadow: 0px 0px 20px rgba(#411939, 0.6)
      font-size: 48px
    p
      font-weight: 300
      font-size: 18px
      text-shadow: 0px 0px 20px rgba(#411939, 0.6)
    .row
      position: relative
    .info
      @media #{$medium-up}
        position: absolute
        right: 0
        // min-height: 100%
      background: darken($accent, 12%)
    .button.learn
      font-size: 14px
      font-weight: 300
      padding: 16px 20px
      background: $accent
      border: 1px solid darken($accent, 10%)
      +transition(all 0.2s)
      i
        +transition(all 0.2s)
        +transform(rotate(-90deg))
      &:hover
        background: darken($accent, 10%)
        i
          +transform(rotate(0deg))
  .search
    +transition(all 0.2s)
    display: block
    padding: 45px 0px
    i.fa
      margin-right: 10px
    // +background(linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.15) 100%), url("/assets/images/search-bg.jpg") )
    // background-attachment: scroll, fixed
    // background-size: cover
    // background-position: center bottom
    // background-color: $accent
    background-color: rgba(0,0,0,0.4)
    &:hover
      background-color: rgba(0,0,0,0.6)
    h2
      color: #fff
      font-size: 24px
      font-weight: 100
      .button
        font-size: 20px
        margin-left: 15px
        margin-bottom: 0
        background: $orange
        padding: 12px 16px
  .notice
    text-align: center
    a
      border-bottom: 1px solid rgba($accent, 0.5)
    i
      margin-right: 10px
      color: $orange
  // TODO: clean this up. blame kai.
  .proposals
    text-align: center
    // padding-top: 0
    ul
      margin: 0
      li:nth-child(1)
        @media #{$medium-up}
          td
            &:nth-child(1)
              display: table-cell
            &:nth-child(2)
              h2
                text-align: left
    h2.title
      font-size: 16px
    .val-group
      border: 0
      margin-top: 15px
      margin-bottom: 0
      background: none
      td
        height: 65px
        vertical-align: middle
        padding: 0
        &:nth-child(1)
          padding-right: 8px
          border-right: 1px solid $accent
          width: 40%
        &:nth-child(2)
          padding-left: 3px
        @media #{$medium-up}
          &:nth-child(1)
            display: none
          &:nth-child(2)
            h2
              text-align: center
      &.first
        td:nth-child(1)
          width: 60%
      h2
        text-align: left
        font-weight: bold
        font-size: 28px
        margin: 0
      h6
        margin: 0
        margin-top: -4px
        text-align: center
    .caption
      text-align: right
      text-transform: uppercase
      font-weight: bold
      color: $accent
      // float: left
    img
      height: 64px
      margin-bottom: 8px
    i
      color: $accent
    h2
      span
        font-size: 60%
        font-weight: 500
    h3
      margin-bottom: 0
  .fig
    font-size: 22px
    font-weight: bold
  .dpwh-label
    display: inline-block
    color: $accent
    font-weight: bold
  // yes this is sad
  .proposals li
    position: relative
    a
      display: inline-block
      padding: 12px 0
      width: 100%
      margin-top: -12px
      margin-bottom: -12px
      +transition( all 0.2s )
      &:hover
        background-color: #f4f4f4
    &.arrow:after
      position: absolute
      right: -12px
      top: 65px
      content: " "
      width: 35px
      height: 132px
      background: url("/assets/images/chevron.svg")
  .row.info
    text-align: center
    h2, h4
      color: $accent
  figure
    display: inline-block
    text-align: center
    width: 100%
    margin: 0
    padding: 0 0 10px 0
    // border: 1px solid $accent
    img
      height: 100%
    &.small
      height: 150px
    &.large
      height: 200px
    .vis-panel
      box-shadow: none
      background-color: transparent
  .graph-title
    font-weight: 300
    font-size: 20px
  .call2act
    background: $white
    border: 1px solid #eee
    padding: 30px

.button-group.centerize
  display: inline-block

#logo
  display: inline-block

.notice
  color: #777
  font-weight: 300

.viz
  .val-group
    margin-bottom: 20px
  i
    display: block
    // font-size: 40px
    // float: left
  .legend
    padding-top: 25px
    text-align: center
    margin-bottom: 20px
    font-size: 12px
    span
      display: inline-block
      margin-right: 10px
      &:last-child
        margin-right: 0px

#d3-chart
  div
    background-color: black
  rect
    fill: $gray
  path
    fill: transparent
    stroke: $accent
    stroke-width: 4px
  circle
    fill: #F4F4F4
    stroke: $accent
    stroke-width: 4px
  .x-axis, .y-axis, .domain
    stroke-width: 1px
    stroke: $black
  text
    fill: $black
    stroke: transparent
    font-size: 12px

.c3
  text
    font-family: "Roboto Condensed"
  .c3-shape.c3-area
    opacity: 0.8
  // path
  //   stroke-width: 4px
  // circle
  //   stroke-width: 4px

.vis-panel
  @extend .card
  margin-bottom: 0
  h5
    text-align: center
    font-weight: 100

.ruled
  border-bottom: 3px solid #ccc
  padding: 0px 6px 6px
  margin-bottom: 20px

.columns.large-gutters
  padding: 0px 30px


a#feedback-tab
  position: fixed
  z-index: 1010
  bottom: -6px
  right: 20px
  background-color: rgba($red, 0.8)
  text-shadow: 0 3px 3px $red, 0 -3px 3px $red, 3px 0px 3px $red, -3px 0 3px $red
  color: white
  padding: 8px 16px
  border-bottom: 6px solid #790300
  +transition( all 0.3s cubic-bezier(0.31906, 0.64, 0.35906, 1.86) )
  i
    +transition( all 0.3s )
  &:hover
    bottom: -6px
    background-color: rgba($red, 1)
    border-bottom: 12px solid #790300
    padding: 10px 20px 10px 30px
    i
      +transform( translateX(-8px) translateY(2px) rotate(-28deg) scale(1.33) )

// .tabs-content
//   .section
//     // padding: 20px 0px
//     h2.section-title
//       text-transform: capitalize
//       margin: 20px 0px
//       text-align: center

footer
  .row.notice
    color: #999
    font-size: 70%
    padding-bottom: 1.25rem
    border-bottom: 1px solid #d9d9d9
    margin-bottom: 1.25rem
  color: #666
  font-family: "Helvetica Neue", "Helvetica", sans-serif
  background: #e9e9e9
  padding: 1.25rem 0
  // border-top: 1px solid #d9d9d9
  // img.republic-seal
  h4, p, li, a
    color: #999
  h4
    font-family: "Roboto"
    font-weight: bold
    text-transform: uppercase
    font-size: 60%
  p, li
    font-size: 70%
  ul
    padding: 0
    margin: 0
  li
    list-style: none
    display: block

.select2-hidden-accessible
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px


// helper for svg animation

.killtransition
  +transition(none !important)

.lines path
  +transition(stroke-dasharray 11.25s, stroke-dashoffset 11.25s)
  +animation(fadeOut 0.4s 3.4s 1 both)

#filled
  +animation(fadeIn 1.2s 2.1s 1 both)

+keyframes(fadeIn)
  from
    opacity: 0
  to
    opacity: 1

+keyframes(fadeOut)
  from
    opacity: 1
  to
    opacity: 0

// .button.inverse
//   // @include button(12px )


#new-request-banner
  background-color: white
  padding: 40px 0px
  h2
    color: #333
    text-transform: none
    font-weight: 300
  .button
    @include button-style(darken($orange, 10%))
    margin-bottom: 0

.breadcrumbs
  padding: 20px 0px
  background-color: darken($accent, 5%)
  color: white
  // border-bottom: 1px solid rgba(white, 0.2)
  a
    color: rgba(white, 0.4)
    &:hover
      color: white
  .crumb
    display: inline-block
    .arrow
      margin: 0px 10px
      color: rgba(white, 0.4)

#loc-filters
  background-color: #f8f8f8

body .select2-container
  margin: 0 0 1rem 0
  position: relative
  vertical-align: middle
  font-family: inherit
  -webkit-appearance: none !important
  // background: #fafafa url("data:image/svg+xmlbase64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat

  background-position: 97% center
  font-size: 0.875rem

.tabs.centerize
  dd
    float: none
    display: inline-block

.tabs.switch
  display: inline-block
  border: 1px solid $accent
  border-radius: 3px
  overflow: hidden
  &.reverse
    border: 1px solid white
    .active
      a
        color: $accent
        background-color: white
        &:hover
          color: $accent
          background-color: lighten($accent, 50%)
      .label
        color: $accent
        border-color: $accent
    dd > a
      color: white
      &:hover
        background-color: darken($accent, 10%)
      .label
        color: white
        border-color: white
  +media(max-width $desktopWidth)
    border-radius: 3px
    display: block
    dd
      display: block
      float: none
  .active
    a
      color: white
      background-color: $accent
      &:hover
        color: white
        background-color: darken($accent, 10%)
    .label
      color: white
      border-color: white
  dd > a
    border: 0
    color: $accent
    &:hover
      background-color: lighten($accent, 50%)
      // color: darken($accent, 10%)
      // .label
      //   color: darken($accent, 10%)
      //   border-color: darken($accent, 10%)
    .label
      color: $accent
      border-color: $accent

#faq
  &>li
    padding: 50px 40px

thead
  th
    white-space: nowrap

.common-help
  $activeColor: $orange
  position: relative
  display: inline-block
  white-space: normal
  &.right-edge
    .explanation
      left: auto
      right: 50%
      +transform-origin( right -12px )
      &:before
        @include triangle(12px, $activeColor, down-right)
        left: auto
        right: 0px
  &.left-edge
    .explanation
      right: auto
      left: 50%
      +transform-origin( left -12px )
      &:before
        @include triangle(12px, $activeColor, down-left)
        right: auto
        left: 0px
  .explanation
    $width: 300px
    // display: none
    +transform( scale(0) )
    +transition( all 0.1s )
    position: absolute
    top: 100%
    width: $width
    left: 50%
    // margin-left: -$width/2
    background-color: $activeColor
    margin-top: 14px
    color: white
    padding: 20px
    box-shadow: 0px 10px 10px rgba(black, 0.3)
    text-align: left
    font-weight: 400
    font-size: 14px
    &:before
      display: block
      content: ""
      position: absolute
      top: -12px
  .hoverthing
    display: inline-block
    color: #333
    margin-left: 4px
    &:hover
      color: $activeColor
      & + .explanation
        +transition( all 0.2s cubic-bezier(0, 0.72, 0.64906, 1.35) )
        +transform( scale(1) )
        display: block

.document
  // img
  //   display: block
  .file
    .info
      margin-bottom: 10px

.req, .new-user
  padding: 10px
  border: 1px solid #eee
  margin-bottom: 10px
  background-color: #f8f8f8
  &:last-child
    margin-bottom: 0px
  input[type="checkbox"]
    margin-bottom: 0
  input[type="text"]
    margin-bottom: 10px

.collapsible-filter
  .collapsible-label
    & > a
      display: block
      // border-radius: 3px
      margin-bottom: 1px
      padding: 10px
      background-color: rgba(black, 0.05)
      &:hover
        background-color: rgba(black, 0.1)
      h5
        margin: 0
      .label
        background-color: #ddd
        color: #333
  .collapsible-drawer
    +transition(max-height 0.4s)
    overflow: hidden
    padding: 0px 10px
    ul
      margin-bottom: 0
      padding: 10px 0px 20px
    // &.expanded
    //   max-height: 512px
    // &.collapsed
    //   max-height: 0px

#vis-isotope-container
  .vis-panel
    width: 40%
    width: calc(50% - 20px)
    margin-bottom: 20px

label
  &.disabled
    opacity: 0.5

