@()

<!doctype html>
<html>
<head>

  <meta charset="utf-8">

  <script src="@routes.Assets.at("bower_components/mithril/mithril.js")"></script>
  <script src="@routes.Assets.at("bower_components/chartjs/Chart.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/underscore/underscore.js")"></script>
  <script src="@routes.Assets.at("bower_components/csv2json/csv2json.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/leaflet/leaflet-src.js")"></script>
  <script src="@routes.Assets.at("bower_components/leaflet-draw/leaflet.draw.js")"></script>
  <script src="@routes.Assets.at("bower_components/dropzone/dropzone.js")"></script>
  <script src="@routes.Assets.at("bower_components/nprogress/nprogress.js")"></script>
  <script src="@routes.Assets.at("bower_components/d3/d3.js")"></script>
  <script src="@routes.Assets.at("bower_components/c3/c3.js")"></script>

  <script src="@routes.Application.process()"></script>
  <script src="@routes.Assets.at("javascripts/bi.js")"></script>
  <script src="@routes.Assets.at("javascripts/helper.js")"></script>
  <script src="@routes.Assets.at("javascripts/common.js")"></script>
  <script src="@routes.Assets.at("javascripts/historyEvent.js")"></script>

  <!-- utilities -->
  <script src="@routes.Assets.at("javascripts/displayEditGroup.js")"></script>

  @for(template <- List(
    "govUnit",
    "govUnitEdit",
    "user",
    "request",
    "requestListing",
    "requestCreation",
    "dashboard",
    "welcome",
    "saro",
    "admin",
    "lguCreation",
    "agencyCreation",
    "userCreation",
    "login",
    "app",
    "visPanel"
  )){
    <!-- @template -->
    <script src="@routes.Assets.at("javascripts/app/" + template + "/model.js")"></script>
    <script src="@routes.Assets.at("javascripts/app/" + template + "/controller.js")"></script>
    <script src="@routes.Assets.at("javascripts/app/" + template + "/view.js")"></script>
  }

  <!-- routes -->
  <script src="@routes.Assets.at("javascripts/routes/play.js")"></script>
  <script src="@routes.Assets.at("javascripts/routes/mithril.js")"></script>

</head>
<body>
  Loading...
</body>
</html>
