@()

<!doctype html>
<html>
<head>

  <script src="@routes.Assets.at("bower_components/mithril/mithril.js")"></script>
  <script src="@routes.Assets.at("bower_components/chartjs/Chart.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/underscore/underscore.js")"></script>
  <script src="@routes.Assets.at("bower_components/csv2json/csv2json.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/leaflet/leaflet-src.js")"></script>
  <script src="@routes.Assets.at("bower_components/leaflet-draw/leaflet.draw.js")"></script>
  <script src="@routes.Assets.at("bower_components/dropzone/dropzone.js")"></script>

  <script src="@routes.Assets.at("javascripts/helper.js")"></script>
  <script src="@routes.Assets.at("javascripts/db.js")"></script>
  <script src="@routes.Assets.at("javascripts/process.js")"></script>
  <script src="@routes.Assets.at("javascripts/common.js")"></script>
  <script src="@routes.Assets.at("javascripts/historyEvent.js")"></script>

  <!-- utilities -->
  <script src="@routes.Assets.at("javascripts/displayEditgroup.js")"></script>

  <!-- user -->
  <script src="@routes.Assets.at("javascripts/app/user/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/user/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/user/view.js")"></script>

  <!-- project -->
  <script src="@routes.Assets.at("javascripts/app/project/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/project/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/project/view.js")"></script>

  <!-- projectListing -->
  <script src="@routes.Assets.at("javascripts/app/projectListing/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/projectListing/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/projectListing/view.js")"></script>

  <!-- projectCreation -->
  <script src="@routes.Assets.at("javascripts/app/projectCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/projectCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/projectCreation/view.js")"></script>

  <!-- dashboard -->
  <script src="@routes.Assets.at("javascripts/app/dashboard/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/dashboard/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/dashboard/view.js")"></script>

  <!-- admin -->
  <script src="@routes.Assets.at("javascripts/app/admin/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/admin/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/admin/view.js")"></script>

  <!-- lguListing -->
  <script src="@routes.Assets.at("javascripts/app/lguListing/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/lguListing/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/lguListing/view.js")"></script>

  <!-- lguCreation -->
  <script src="@routes.Assets.at("javascripts/app/lguCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/lguCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/lguCreation/view.js")"></script>

  <!-- agency -->
  <script src="@routes.Assets.at("javascripts/app/agency/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/agency/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/agency/view.js")"></script>

  <!-- agencyCreation -->
  <script src="@routes.Assets.at("javascripts/app/agencyCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/agencyCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/agencyCreation/view.js")"></script>

  <!-- userCreation -->
  <script src="@routes.Assets.at("javascripts/app/userCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/userCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/userCreation/view.js")"></script>

  <!-- login -->
  <script src="@routes.Assets.at("javascripts/app/login/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/login/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/login/view.js")"></script>

  <!-- app -->
  <script src="@routes.Assets.at("javascripts/app/app/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/app/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/app/view.js")"></script>

  <!-- routes -->
  <script src="@routes.Assets.at("javascripts/routes.js")"></script>
</head>
<body>
  Loading...
</body>
</html>
