@()

<!doctype html>
<html>
<head>

  <meta charset="utf-8">

  <script src="@routes.Assets.at("bower_components/mithril/mithril.js")"></script>
  <script src="@routes.Assets.at("bower_components/chartjs/Chart.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/underscore/underscore.js")"></script>
  <script src="@routes.Assets.at("bower_components/csv2json/csv2json.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/leaflet/leaflet-src.js")"></script>
  <script src="@routes.Assets.at("bower_components/leaflet-draw/leaflet.draw.js")"></script>
  <script src="@routes.Assets.at("bower_components/dropzone/dropzone.js")"></script>
  <script src="@routes.Assets.at("bower_components/nprogress/nprogress.js")"></script>

  <script src="@routes.Application.process()"></script>
  <script src="@routes.Assets.at("javascripts/bi.js")"></script>
  <script src="@routes.Assets.at("javascripts/helper.js")"></script>
  <script src="@routes.Assets.at("javascripts/common.js")"></script>
  <script src="@routes.Assets.at("javascripts/historyEvent.js")"></script>

  <!-- utilities -->
  <script src="@routes.Assets.at("javascripts/displayEditGroup.js")"></script>

  <!-- user -->
  <script src="@routes.Assets.at("javascripts/app/user/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/user/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/user/view.js")"></script>

  <!-- request -->
  <script src="@routes.Assets.at("javascripts/app/request/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/request/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/request/view.js")"></script>

  <!-- requestListing -->
  <script src="@routes.Assets.at("javascripts/app/requestListing/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/requestListing/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/requestListing/view.js")"></script>

  <!-- requestCreation -->
  <script src="@routes.Assets.at("javascripts/app/requestCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/requestCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/requestCreation/view.js")"></script>

  <!-- dashboard -->
  <script src="@routes.Assets.at("javascripts/app/dashboard/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/dashboard/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/dashboard/view.js")"></script>

  <!-- admin -->
  <script src="@routes.Assets.at("javascripts/app/admin/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/admin/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/admin/view.js")"></script>

  <!-- lguCreation -->
  <script src="@routes.Assets.at("javascripts/app/lguCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/lguCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/lguCreation/view.js")"></script>

  <!-- agency -->
  <script src="@routes.Assets.at("javascripts/app/govUnit/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/govUnit/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/govUnit/view.js")"></script>

  <!-- agencyCreation -->
  <script src="@routes.Assets.at("javascripts/app/agencyCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/agencyCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/agencyCreation/view.js")"></script>

  <!-- userCreation -->
  <script src="@routes.Assets.at("javascripts/app/userCreation/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/userCreation/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/userCreation/view.js")"></script>

  <!-- login -->
  <script src="@routes.Assets.at("javascripts/app/login/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/login/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/login/view.js")"></script>

  <!-- app -->
  <script src="@routes.Assets.at("javascripts/app/app/model.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/app/controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/app/app/view.js")"></script>

  <!-- routes -->
  <script src="@routes.Assets.at("javascripts/routes/play.js")"></script>
  <script src="@routes.Assets.at("javascripts/routes/mithril.js")"></script>

</head>
<body>
  Loading...
</body>
</html>
